@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import './animations.css';
@tailwind base;

@layer base {
    body {
        @apply bg-white text-slate-900;
    }

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        @apply text-slate-800 border border-slate-300 bg-white transition-colors hover:bg-slate-50;
    }
}

@tailwind components;

@layer components {
    .btn {
        @apply inline-flex items-center justify-center rounded-2xl border border-slate-300 bg-white px-4 py-3 font-semibold text-slate-800 transition-colors hover:border-primary hover:text-primary;
    }

    .btn-primary {
        @apply text-white bg-primary border border-primary hover:bg-indigo-600 hover:border-indigo-600;
    }

    .btn-outline {
        @apply border-slate-300 text-slate-700 hover:border-primary hover:text-primary;
    }
}

@tailwind utilities;